<h1>Post#create</h1>
<% if @post.errors.any? %>
  
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  
<% end %>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "create:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>